
.search-user{
    display: flex;
    gap: 10px;
    margin: 5px 0px;
    padding: 5px 10px;
    font-size: 1.2rem;
}
.search-user:hover{
    background-color: whitesmoke;
}
.search-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.search-details p{
    font-weight: 600;
}
.search-avatar{
    display: flex;
    align-items: center;
}
.search-details span{
    font-size: 12px;
    color: gray;
    display: flex;
    gap: 10px;
    align-items: center;
}
.search-button-group{
    display: flex;
    height: 100%;
    align-items: center;
}
.blood-donars{
    margin-top: 50px;
}