.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  margin-top: 100px !important;
  margin-right: 40px !important;

  padding: none !important;
}
.total-life {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  color: rgb(2, 65, 36);
}
.cards {
  background-color: #ead8c0 !important;
  border-radius: 12px;
  border: 2px solid black;
}
.cards>*{
  border-radius: 12px;
}
.cards img{
  border-radius: 12px;
}
.cards .MuiCardMedia-root{
  border-radius: 12px;
  border-radius: 12px 12px 0px 0px;
}
.cards .MuiPaper-root{
  border-radius: 12px;
}
.background-card {
  background-color: #eaf6fb;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  min-height: 300px;
  text-align: "center";
}
.background-card h1 {
  text-align: left;
  color: rgb(2, 65, 36);
  font-size: 1.2;
  margin-bottom: 20px;
}
.background-card h4 {
  text-align: left;
  /* font-style: italic; */
  margin-bottom: 20px;
  color: rgb(5, 121, 67);
}
.background-card Button {
  align-content: left;
  background-color: rgb(75, 6, 75) !important;
}
.card-title {
  color: rgb(2, 65, 36) !important;
  display: flex;
  font-weight: 700 !important;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
}
.card-content {
  color: black !important;
  font-style: bold !important;
}
.updates {
  min-width: 100vw;
  margin-top: 50px !important;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.heading {
  max-width: 800px !important;
  color: rgb(6, 6, 75) !important;
  margin-bottom: 30px !important;
  margin-top: 20px !important;
}
.heading h1 {
  color: rgb(6, 6, 75);
}

.middle {
  max-width: 800px !important;
  margin-bottom: 30px !important;
}
.bottom {
  max-width: 800px;
  margin-bottom: 30px !important;
}

.process {
  display: flex;
  gap: 2vw;
  box-sizing: border-box;
  width: 100vw;
}
.box {
  background-color: teal !important;
}
.process-1 {
  min-width: 49vw;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.process-2 {
  min-width: 49vw;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.box {
  color: white;
}
.box li {
  margin-bottom: 10px;
}
.h-1 {
  font-size: 200%;
  color: rgb(2, 65, 36);
}
.h-2 {
  font-size: 150%;
  color: rgb(2, 65, 36);
}
.update-hackfed{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  box-sizing: border-box;
  flex-wrap: wrap;
  max-height: max-content;
}