.Homepage{
    /* height: 100vh; */
    margin-top: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Homepage .left{
    box-sizing:border-box;
    width: 30%;
    min-height: 100vh;
    padding: 30px 10px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Homepage .left h3{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1.5px;
}
.Homepage .right{
    width: 70%;
    height: 100%;
}
.location{
    margin: 20px 0px;
    border-color: black;
}
.location:focus{
    border-color: green;
    outline-color: green;
}
.Homepage .left .button1{
    color: white;
    background-color: #fd7e14;
    box-shadow: #fd7e14;
}
.Homepage .left .button1 img{
    margin-left: 5px;
}
.Homepage .left .button2{
    color: #fd7e14;
    border-color: #fd7e14;
}

.Homepage .left .location, .Homepage .left .btn{
    width: 70%;
}

.button-container{
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.right{
    padding: 2rem 3rem;
}
.right-details h1{
    font-size: 40px;
    font-weight: 600;
}

.profiles-container{
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
}
.profile{
    margin: 0px 10px;
    padding: 10px;
    border: 0.2px solid #fd7e14;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 120px auto;
}
.profile-img img{
    width: 120px;
}
.profile-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.donor-details{
    padding-left: 7px;
}
.donor-details p, .donor-details div{
    margin-bottom: 2px;
}
.donor-name{
    font-weight: 500;
    font-size: 1.5rem;
}
.donor-address{
    font-weight: 400;
    font-size: 1.1rem;
}
.donor-age{
    font-size: 0.8rem;
    font-weight: 600;
    color: gray;
}
.donor-address img, .donor-address p{
    display: inline;
    font-size: 0.8rem;
    color: gray;
}
.donor-address img{
    margin-right: 2px;
    height: 12px;
}
.tags-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.tags-contact .tags{
    padding: 1rem;
}
.tag{
    margin-left: 3px;
}
.select_upper>*{
    width: 100%;
    margin: 6px 0px;
}