.main {
  margin-top: 40px;
  display: flex;
}
.heading-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300% !important;
  color: rgb(2, 65, 36);
  margin-bottom: 20px;
  font-style: underline !important;
}
.card {
  border: none !important;
}
.about {
  font-size: 1.8rem;
  color: rgb(2, 65, 36);
}
.about-box {
  max-width: 700px;
}
.main-3 {
  border-right: 1px solid black;
  margin-left: 100px;
  height: 100vh;
}
