body {
  /* background-color: #ead8c0; */
}

.main {
  margin-top: 80px;
}
.heading-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300% !important;
  color: rgb(2, 65, 36);
  margin-bottom: 20px;
  font-style: underline !important;
}
.card {
  border: none !important;
}
.about {
  font-size: 140%;
  color: rgb(2, 65, 36);
}
.about-box {
  margin-top: 30px;
  max-width: 700px;
}
